@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Hepta+Slab:wght@100&family=Outfit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');



.header-container{


  z-index: 1000;
  background:white; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%;

}

.logo-img{
  width: 100px;
  align-self: center;
  margin-left: 20px;
  margin-right: 0px;
  
}
.logo-img:hover{
  cursor: pointer;
  
}

.company-name{
    margin-left: 0px;
    font-size: 3.5rem;
    font-family: 'Cabin', sans-serif;
    color: #3681BA;

}

.company-name:hover{

  cursor: pointer;

}

.container{

    margin: auto;
    ;
   
}
.stroke-icon{
    stroke : white;
}
.main-container{
    
    color: white;
    margin: auto;
    
}

.navbar{



    display: flex;
    height: 100px;
    font-family: 'Cabin', sans-serif;
    margin-left: 700PX;
    font-size: 30px;
    color: transparent;
}

.navbar li{
    list-style: none;
    width: 180px;
    
    color: #3681BA;
    font-style: italic;

    transition-duration: 0.4s;
}


.navbar li:hover{
    font-weight: bold;
    cursor: pointer;
    color: #3681BA;
    
}

.navbar-margin{
  
    margin-left: auto;
    margin-right: auto;
}

.bigBtn{
  margin-left: 50px;
  margin-right: 100px;
  
}
.btn{   

  
  border-radius: 25px;
  border: 2px solid #5EC2ED;


  color:white;
  /*color: var(--button-color);*/
  background: #3681BA;

  width: 236px;
  height: 71px;
  padding: 0 0px;
  
  font-family: 'Cabin', sans-serif;
  
  font-size: 36px;

  transition-duration: 0.4s;
  
 
}

.section1{
    
  background: linear-gradient(1turn, #3681BA, #5EC2ED);
  font-family: 'Ubuntu', sans-serif;
  padding-top: 201px;
  padding-left:200px;
  padding-right:200px;
  height: 850px;
}

.btn:hover{


    color: #3681BA;
    background: white;
}


.section1{
    
  background: #DFDFDF;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 201px;
  padding-left:200px;
  padding-right:200px;
  height: 850px;
}



.btn2{

  margin-top: 20px;





  border: 2px solid #3681BA;
  border-radius: 25px;

  width: 236px;
  height: 71px;
  padding: 0 0px;
  
  font-family: 'Cabin', sans-serif;
  color: #3681BA;
  background: white;
  font-size: 20px;
  font-style: italic;

  transition-duration: 0.4s;

}


.btn2:hover{
  color: white;
  background-color: #3681BA;
  cursor: pointer;

}

.right{
  width: 50%;
}



.frame{
  position: absolute;
}
.map{
  
  padding-top: 19px;
  position: relative;
  width: 40%;
  height: 103%;
}

.left{
  width: 50%;
}


.title2{
  margin-top: 26px;
  margin-bottom: 26px;
}



.section1 h1{

  margin-left: 400px ;

  color: black;
  margin-top: 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
}

.section1 h2{

  margin-left: 15px ;

  color: black;
  margin-top: 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}


.box1{
  
  margin-top: 50px;

  width: 350px;
  height: 601px;

  background: white;



} 
.box2{

  width: 350px;
  height: 40px;
  background: #3681BA;

} 

.section1 h3{
  margin-top: 16px;
  margin-left: 30px;
  margin-bottom: 0px;
  color: #3681BA;
  font-weight: 400;
  font-size: 40px;
}
.section1 p{

  margin-top: 12px;
  margin-left: 30px;
  color: #3681BA;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}



.section1 ul{

  
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  

}
ul:before {
  content: '✓ '; 
}


ul:nth-child(4){
  color: #B8B8B8;
}
ul:nth-child(5){
  color: #B8B8B8;
}
ul:nth-child(6){
  color: #B8B8B8;
}
ul:nth-child(7){
  color: #B8B8B8;
}


.box3{

  width: 350px;
  height: 40px;
  background: #ACE4A0;

} 

.btn3{
  border-radius: 25px;
  width: 198px;
  height: 50px;

  margin-left: 20%;


  font-size: 20px;
  font-weight: 400;

  color: #3681BA;
  background: white;
  border-color: #3681BA;

  
}






.box4{

  width: 150px;
  height: 47px;
  border-radius: 12px;
  background: #B6B6B6;

  margin-left: 1500px;
}
.img-store{
  margin-left: 10px;
  margin-right: 10px;
  width: 37px;
  height: 39px;

  

}
.section1 h4{

  padding-top: 15px;
  padding-right: 15px;
  height: 34px

}